.c1{
    background-color: red;
    width:100px;
    height:100px  
}
.c2{
     background-color:skyblue;
    width:100px;
    height:100px
}
.c3{
  background-color: green;
    width:100px;
    height:100px
}
.c4{
 background-color: blue;
    width:100px;
    height:100px
}
.c5{
     background-color: skyblue;
    width:50px;
    height:50px;
}
.c6{
     background-color: purple;
    width:50px;
    height:50px;
}
.c7{
 background-color: green;
    width:100px;
    height:100px
}
.c8{
    background-color: purple;
    width:100px;
    height:100px;
}